* {
    box-sizing: border-box;
}
.searchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    padding: 1em 2em;
}
.searchBar div {
    
}

.logo {
    display: flex;
    align-items: center;
    flex:0.3
}
.logo h1 {
    font-size: 1.5em;
    cursor: pointer;
}
.logo i {
    color: red;
    font-size: 1.4em;
    margin-right: 0.2em;
    cursor: pointer;
}
.logo i:first-child {
    color: #000;
    margin-right: 2em;
    
}

/* seacrhbar */
.search {
    /* width: 500px; */
    width: 100%;
    margin:0 auto;
    flex: 0.5
}
.search form {
    position: relative;
    min-width: 100px;
}
.search input {
    width: 100%;
    padding: 0.6em 1em;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1.3em;
}
::placeholder {
    font-size: 1.3rem ;
    color: black;
}
.search button {
    background-color: transparent;
    border: none;
    font-size: 1.4em;
    outline: none;
    position:absolute;
    padding: 0.3em;
    top: 50%;
    right: 0.5em;
    transform: translateY(-50%);
}

.search button i {
    background: none;
    cursor: pointer;

}

.user {
    flex: 0.2;
    text-align: end;
    font-size: 1.5em;
    padding: 0.6em 1em;
    color: darkolivegreen;

    cursor: pointer;

}