.app {
    width: 100%;
}

.content {
    display: flex;
}

.detail {
    flex: 1 1 80%;
    padding: 1em;
}
.list{
    flex: 1 1 20%;
}

@media screen and (max-width: 800px){
    .content{
        flex-direction: column;
    }
}